################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.user
*.suo
/eManager/*/obj/*.*
/eManager/*/bin/*.*
/eManager/*/obj/*/*.*
/eManager/*/bin/*/*.*
/eManager/eManager.Web/App_Data
