################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/eManager/eManager/obj
/eManager/eManager/bin
/eManager/eManager.Web/App_Data
